:root {
  //  font
  --font-family: "Mulish", sans-serif;

  // colors
  --light: #00c3ff;
  --primary: #b10f3d;
  --dark: #d94747;
  --primary-blue: #2071e7;
  --dark-blue: #2980b9;
  --light-purple: rgb(197, 142, 197);
  --primary-purple: rgb(193, 75, 193);
  --dark-purple: rgb(164, 35, 164);
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --light-hint: #eee;
  --orange: rgb(255, 166, 0);
  --border: #ddd;
}
